# Spotify API Credentials
.env

# Spotipy User Authentication Cache
.cache
.cache-*

# Python environment/system files
__pycache__/
*.py[cod]
venv/
.venv/

# Alternatively, ignore all MIDI files specifically
*.mid